#grid-container {
    width:1200px;
    height:350px;
    margin:50px auto;
    text-align:center;
}
.grid {
    width: 1200px;
    height: 350px;
    text-align:left;
  }
  .header-filtered {
    color: blue;
  }